
<table border='0' width='100%' style="font-size:0.8rem;">
    <thead>
        <tr>
        <th style="padding:10px;">Booking ID</th>
        <th style="padding:10px;">Full Name</th>
        <th style="padding:10px;">Date of Birth</th>
        <th style="padding:10px;">Age</th>
        <th style="padding:10px;">Race</th>
        <th style="padding:10px;">Book Date</th>
        <th style="padding:10px;">Location</th>
        <th style="padding:10px;">Bail $</th>
        <th style="...">Arrest Date</th>
        <th style="padding:10px;">Custody Status</th>
        </tr>
    </thead>
    <tbody>
        {% for row in employeelist %}
        <tr>
            <td style="padding:10px;">{{row[6]}}</td>
            <td style="padding:10px;">{{row[0]}}</td>
            <td style="padding:10px;">{{row[1]}}</td>
            <td style="padding:10px;">{{row[2]}}</td>
            <td style="padding:10px;">{{row[3]}}</td>
            <td style="padding:10px;">{{row[4]}}</td>
            <td style="padding:10px;">{{row[5]}}</td>
            <td style="padding:10px;">{{row[9]}}</td>
            <td style="padding:10px;">{{row[7]}}</td>
            <td style="padding:10px;">{{row[8]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
